body {
    background-color:#f7f8ef;
    font-family: 'Italiana', serif;
    font-weight: bold;
}

.homelogo {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.logo {
    width: 80%;
    height: auto;
}

.homecards {
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.card {
    background-color: #DDEDE4;
    width: 95%;
    height: fit-content;
    margin-left: 1%;
    margin-right: 1%;
}

.homecardcolumn {
    display: flex;
    justify-content: space-around;
}

.col-sm-5 {
    display: flex;
    justify-content: center;
    align-content: center;
}

.col-sm-7 {
    display: flex;
    justify-content: center;
}

.cardbtn {
    display: flex;
    justify-content: center;
    align-self: flex-end;
    margin-bottom: 5%;
    height: fit-content;
}

.card-body {
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
    height: 3rem;
}

.card-title {
    font-weight: bold;
}

.btn-bd-primary {
    --bs-btn-color: black;
    --bs-btn-hover-color: black;
    --bs-btn-bg: #FAFBDB;
    --bs-btn-hover-bg: #eff1cd;
    --bs-btn-active-bg: #FAFBDB;
    font-weight: bold;
    width: 10rem;
    border-radius: 15px;
}

.card-img {
    padding: 5%;
}

.bg-dark {
    background-color: #353736;
}


.top10cards {
    display: flex;
    justify-content: center;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.top10cardcolumn {
    display: flex;
    justify-content: center;
    padding-bottom: 1%;
}

.top10column {
    display: flex;
    justify-content: space-around;
}

.top10header {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 20%;
}

